<!DOCTYPE HTML>
<html>
<head>
<title>Contact</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--Google Fonts-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
<!--google fonts-->
<script src="js/jquery-1.11.0.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</head>
<body>
<!--header-top start here-->
<div class="top-header">
	<div class="container">
		<div class="top-header-main">
			<div class="col-md-8 logo">				
			           <h1><a  href="index">Innermost</a></h1>
			</div>
			<div class="col-md-4 top-social">
			    <ul>
			    	<li><a href="#"><span class="fb"> </span></a></li>
			    	<li><a href="#"><span class="tw"> </span></a></li>
			    	<li><a href="#"><span class="in"> </span></a></li>
			    	<li><a href="#"><span class="gmail"> </span></a></li>
			    </ul>
			</div>
			
		  <div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--header-top end here-->
<!--header start here-->
	<!-- NAVBAR
		================================================== -->
<div class="header w3l">
	<div class="fixed-header">	
		    <div class="navbar-wrapper">
		      <div class="container">
		        <nav class="navbar navbar-inverse navbar-static-top">
		             <div class="navbar-header">
			              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			                <span class="sr-only">Toggle navigation</span>
			                <span class="icon-bar"></span>
			                <span class="icon-bar"></span>
			                <span class="icon-bar"></span>
			              </button>			              
			          </div>
		            <div id="navbar" class="navbar-collapse collapse">
		            <nav class="cl-effect-3" id="cl-effect-3">
		              <ul class="nav navbar-nav">
		               <li><a href="index">Home</a></li>
		                <li><a href="about">About</a></li>
						<li><a href="shortcodes">Short Codes</a></li>
						<li><a href="gallery">Gallery</a></li>
						<li><a class="active" href="contact">Contact</a></li>
		              </ul>
		            </nav>

		            </div>
		            <div class="head-search">
		            	<form action="#" method="post">
		             	<input type="text" placeholder="Search..." name="Search..." required="">
		             	<input type="submit" value="">
		             	</form>
		             </div>
		            <div class="clearfix"> </div>
		             </nav>
		             
		          </div>
		           <div class="clearfix"> </div>
		    </div>
	 </div>
</div>
<!--header end here-->
<!--banner  start hwew-->
<div class="banner1">
	<div class="container">		
		<div class="banner-main1">		
				<ul>
					<li><h6><a href="index">Home </a> </h6></li>
					<li><h6>/ Contact</h6></li>
				</ul>	
		</div>	
    </div>
</div>
<!--BANNER END HERE-->
<div class="contact" id="contact">
	<div class="container">
		<div class="contact-main">
			<div class="contact-top">
				<h2><%=title%></h2>
			</div>
			<div class="contact-bottom">
				<div class="col-md-6 contact-left">
					<form action="#" method="post">
						<p>Your Name</p>
						<input type="text" placeholder="" name="Your Name" required="">
						<p>Your Email</p>
						<input type="text" placeholder="" name="Your Email">
						<p>Your Message</p>
						<textarea placeholder="" name="Your Message">  </textarea>
						<input type="submit" value="Submit">
					</form>
				</div>
				<div class="col-md-6 contact-right">
					<h4>Contact Info</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				    <ul>
				    	<li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"> </span> voluptatem accusantium</li>
				    	<li><span class="glyphicon glyphicon-phone" aria-hidden="true"></span>+1289 595 657</li>
				    	<li><a href="mailto:example@email.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"> </span> mail@example.com</a></li>
				    </ul>
				</div>
			  <div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
<!--map start here-->
<div class="map">
	<div class="container">
		<div class="map-main">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6996661.466346653!2d-104.56992876029658!3d31.10031956865545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864070360b823249%3A0x16eb1c8f1808de3c!2sTexas%2C+USA!5e0!3m2!1sen!2sin!4v1454415604648"> </iframe>
		</div>
	</div>
</div>
<!--map end here-->
<!--news letter stat here-->
<div class="newsletter">
	<div class="container">
		<div class="newsletter-main">
			<h5>Subscribe For Our Newsletter</h5>
			<div class="newsletter-w3">
				<form action="#" method="post">
					<input type="text" placeholder="Enter Your Email Here" name="Enter Your Email Here" required=""> 
					<input type="submit" value="Send">
				</form>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--newletter end here-->
<!--footer start here-->
<div class="footer">
	<div class="container">
		<div class="footer-wthree">
			<div class="col-md-4 footer-grid">
				<h4>Information :</h4>		
				<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem</p>		
			</div>
			<div class="col-md-4 footer-grid">
				<h4>Contact Info :</h4>
				 <div class="ftr-icons">
		    	  	 <div class="ftr-iblock">
		        	   <span class="glyphicon glyphicon-map-marker">  </span>
		        	 </div>
		        	 <div class="ftr-text">
		        	 	<p>Ut enim ad minim veniam, quis nostrud  ullamco.</p>
		        	 </div>
		        	 <div class="clearfix"> </div>
	             </div>
	             <div class="ftr-icons">
		    	  	 <div class="ftr-iblock">
		        	   <span class="glyphicon glyphicon-earphone">  </span>
		        	 </div>
		        	 <div class="ftr-text">
		        	 	<p>+12 586 146 5827</p>
		        	 </div>
		        	 <div class="clearfix"> </div>
		          </div>
		          <div class="ftr-icons">
			    	  	 <div class="ftr-iblock">
			        	   <span class="glyphicon glyphicon-envelope">  </span>
			        	 </div>
			        	 <div class="ftr-text">
			        	 	<p><a href="mailto:info@example.com">lorem@example.com</a></p>
			        	 </div>
			        	 <div class="clearfix"> </div>
			          </div>
			</div>
			<div class="col-md-4 footer-grid">
				<h4>We're Social :</h4>
				<h5>Follow</h5>
				<ul class="ftr-social-icons">
					<li><a class="fa" href="#"></a> </li>
					<li><a class="tw" href="#"></a> </li>
					<li><a class="ind" href="#"></a> </li>
					<li><a class="g" href="#"></a> </li>
				</ul>
			</div>
		   <div class="clearfix"> </div>
		</div>
		<div class="copy">
			<p>Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
		</div>
	</div>
</div>
<!--footer end here-->
</body>
</html>


		